  
  <div class="top-banner-section">
  <div class="top-image-text text-white">COFFEE BREWED <br>BY TEXANS</div>
  <div class="story-button">
    <a href="/about">Our Story</a>
  </div>
  <div class="arrow" >
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
  </div>
  </div>

<section class="coffee-banner-section">
  <div class="text-white center home-coffee-banner-title font-prohibition">CHOOSE FROM OUR <br>ROSTED COFFEE</div>
    <p class="text-white center home-coffee-subtitle">There's nothing as special as coffee crafted by the hard working hands of a Texan</p>
      <div class="center">
        <div class="home-our-coffees-button"><a href="/coffee">OUR COFFEES</a></div>
      </div>
        <ul class="home-coffee-list  ">
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="coffee" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>      
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="/coffee" ><%= image_tag "product01.jpg" %></a></li>
        </ul>
</section>

<section class="menu-banner-section">
  <div class="menu-container">
    <div class="menu-text">
      <div class="view-our-menu">MENU</div>
      <p>See our menu full of amazing blends.</p>
      <div class="see-menu-button">VIEW ALL</div>
    </div>
      <a href="#" class="menu-img"><%= image_tag "menu.jpg"%></a>
  </div>
</section>

<section class="shop-banner-section text-white">
  <div class="home-shop-flex">
    <a href="#" class="shop-img"><%= image_tag "shop.jpg"%></a>
    <div class="home-shop-container">
      <div class="browse-our-shop">BROWSE OUR SHOP</div>
        <p class="">Style your coffee lifestyle with our latest designs.</p>
        <div class="home-shop-button">SHOP</div>
    </div>
  </div>

</section>

<section class="location-banner-section">
  <div class="home-our-locations">OUR LOCATIONS</div>
  <ul class="home-locations-list">
    <li>
      <a href="#"><%= image_tag "cedar-park.jpg" %></a>
      <p>Cedar Park</p>
    </li>
    <li>
      <a href="#"><%= image_tag "austin.jpg" %> </a>
      <p>Austin</p>
    </li>
    <li>
      <a href="#"><%= image_tag "georgetown.jpg" %></a>
      <p>Georgetown</p>
    </li>
  </ul>
</section>