
<section class="coffee-banner-section">
  <div class="text-white center home-coffee-banner-title font-prohibition">CHOOSE FROM OUR <br>ROSTED COFFEE</div>
    <p class="text-white center home-coffee-subtitle">There's nothing as special as our handcrafted coffee created by hard working hands of Texans</p>
      <div class="center">
        <div class="home-our-coffees-button">OUR COFFEES</div>
      </div>
        <ul class="home-coffee-list  ">
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>      
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
          <li><a href="#" ><%= image_tag "product01.jpg" %></a></li>
        </ul>
</section>

<section class="menu-banner-section">
  <div class="home-menu-inline">
    <div class="view-our-menu">VIEW OUR MENU</div>
    <div class="home-menu"></div>
  </div>

</section>

<section class="shop-banner-section">
  <div>BROWSE OUR SHOP</div>

  <div>shop</div>

</section>

<section class="location-banner-section">
  <div>OUR LOCATIONS</div>

  <div>Cedar Park</div>
  <div>Austin</div>
  <div>Georgetown</div>

</section>