<!DOCTYPE html>
<html>
<head>
  <title>Bluebonnet Coffee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('coffee-icon.png') %>
</head>
<body>
  <div class="top-banner-background-gradient">
    <div class="top-banner">
      ORDERS $50+ SHIP FREE | SHOP NOW 
    </div>
  </div>

<div class="top-bar-container">
<div class="top-bar-flex">

  <div class="home-logo">
    <div><a href="/">Bluebonnet <br>Coffee</a></div>
  </div>

    <div class="home-nav">
      <ul class="flex-1">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/coffee">COFFEE</a></li>
        <li><a href="/store">MERCH</a></li>
        <li><a href="/locations">LOCATIONS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>

      <ul class="home-account">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Account', new_user_session_path%></li>
        <%- end -%>
      </ul>
    </div>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <footer id="footer">
    <div class="footer-container text-white">
      <div class="footer-flex">
        <div class="footer-logo">Bluebonnet <br> Coffee</div>
            <ul class="footer-column-1-list font-size-24px">
              <li><a href="/">HOME</a></li>
              <li><a href="/about">OUR STORY</a></li>
              <li><a href="/store">STORE</a></li>
              <li><a href="/locations">LOCATIONS</a></li>
            </ul>

            <ul class="footer-column-2-list font-size-24px">
              <li><%= link_to 'Account', new_user_session_path%></li>
              <li><a href="/contact">CONTACT</a></li>
              <li><a href="/questions">FAQ'S</a></li>
            </ul>

          <div class="footer-newsletter-flex">
            <div class="footer-newsletter font-size-24px">Sign up for our newsletter</div>
              <p>Sign up for our email list to get access to <br>
              exclusive promotions, product launches and <br>
              news from Bluebonnet Coffee
              </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
