<!DOCTYPE html>
<html>
<head>
  <title>Bluebonnet Coffee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('coffee-icon.png') %>
</head>
<body>
  
  <div class="top-banner text-white font-prohibition">
    ORDERS $50+ SHIP FREE | SHOP NOW 
  </div>

<div class="top-bar-container">
<div class="top-bar-flex">

  <div class="home-logo">
    <h3 class="font-prohibition"><a href="/">Bluebonnet Coffee</a></h3>
  </div>

    <div class="home-nav">
      <ul class="flex-1 font-prohibition">
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">COFFEE</a></li>
        <li><a href="#">MERCH</a></li>
        <li><a href="#">LOCATIONS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>


      <ul class="home-account font-prohibition">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Account', new_user_session_path%>
        <%- end -%>
      </ul>

      </div>
      </div>



  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <section class="top-banner-section">
  <h1 class="font-prohibition">COFFEE BREWED BY TEXANS</h1>
  <div class="button">Our Story</div>

</section>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
